h1 {
    color: #742121;
    font-size: 4em;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
h2 {
    color: #3f0f0f;
    font-size: 3em;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
h3 {
    color: #000000;
    font-size: 2em;
    text-align: left;
    font-family: 'Arial', sans-serif;
}
background-color {
    background-color: #9b1818;
}   
